@import "modules/bi";

@import "modules/top";
@import "modules/btm";
@import "modules/rbc";
@import "modules/cfw";
@import "modules/pop";
@import "modules/opt";
@import "modules/err";
@import "modules/txt";
@import "modules/tag";
@import "modules/gal";
@import "modules/dis";
@import "modules/fil";
@import "modules/card";
@import "modules/chron";
/* @import "modules"; */



.hdr {
  padding: 4rem 6rem 2rem;
  height: 15rem;
  overflow: hidden;
}

.hdr > div > h1 {
  font-size: 2.5rem;
}