@import "modules/bi";

@import "modules/top";
@import "modules/btm";
@import "modules/rbc";
@import "modules/cfw";
@import "modules/pop";
@import "modules/opt";
@import "modules/err";
@import "modules/txt";
@import "modules/tag";
@import "modules/gal";
@import "modules/dis";
@import "modules/fil";
@import "modules/card";
@import "modules/chron";
/* @import "modules"; */

* {
  transition: all 0.2s ease;
}

.hdr {
  padding: 4rem 6rem 2rem;
  height: 15rem;
  overflow: hidden;
}

.hdr > div > h1 {
  font-size: 2.5rem;
}

.chip-con {
  display: block;
  position: relative;
  width: 3rem;
  height: 3rem;
  margin: 0.5rem;
}
.chip {
  position: absolute;
  width: 3rem;
  height: 3rem;
  // border-radius: 5px;
  border-width: 5px;
  // border-style: solid;
  background-color: rgba(255,255,255,0.5);
  box-shadow: 2px 2px 5px grey;
}

.hvr-info {
  display: none;
}

.hvr:hover .chip {
  background-color: rgba(255,255,255,1);
  box-shadow: 2px 2px 5px rgba(70,60,70,0.8);
}

.hvr:hover > .hvr-info {
  z-index: 3;
  display: block;
  position: absolute;
  left: 4rem;
  top: 1rem;
  width: 15rem;
  padding: 1rem;
  background-color: white;
  border: 1px solid rgba(70,40,50,0.8);
  box-shadow: 5px 5px 0 rgba(70,40,50,0.8);
  font-size: 0.8em;
}
.hvr-info > h4, .hvr-info > p {
  margin: 0;
}

.fake-slots {
  display: grid;
  grid-template-columns: repeat(auto-fill, 3.5rem);
  grid-auto-columns: 3.5rem;
  grid-auto-rows: 3.5rem;
  grid-gap: 0.2rem;
  justify-content: center;
  align-content: center;
}
.fake-slots > div {
  border-radius: 10px;
  border: 5px dashed;
  width: 3rem;
  height: 3rem;
}