

.th-dark-con {
  margin: 0.5rem;
  border-radius: 0.5rem 0 0 0.5rem;
  padding: 0.2rem;
  color: white;
  background-color: rgba(0,0,0,0.8);
  text-transform: uppercase;
}

.th-card {
  background-color: ivory;
  box-shadow: 5px 5px 6px lightgray;
  transition: all 0.1s ease-out;
  padding: 0.5rem;
}
.th-card:hover {
  /* margin-bottom: 1rem; */
  box-shadow: 4px 5px 0 darkgray;

}

.th-divider {
  border-width: 0.5px;
  opacity: 0.7;
}

.th-sleek {
  margin: 0.5rem 0;
  padding: 0.5rem;
  font: bold 0.8rem Calibri, 'Gill Sans', 'Gill Sans MT','Trebuchet MS', sans-serif;
  border-bottom: 1px solid rgba(255,255,255,0.5);
}