/* @import "./styles/css/normalize.css"; */
@import "./styles/css/base.css";
@import "./styles/css/layout.css";
@import "./styles/css/theme.css";
@import "./styles/css/state.css";
@import "./styles/css/modules.css";

/* Development-mode-only helpers */
* {
  /* outline: 1px dotted lightblue; */
}


.txt {
  border-radius: 1rem;
}

dt {
  font-weight: bold;
}
dd {
  margin: 0;
}
dl.cards {
  display: flex;
  flex-flow: row wrap;
  /* flex-direction: column-reverse; */
}
dl.cards > * {
  width: 12%;
  height: 5rem;
  overflow: hidden;
  margin: 0.5rem 0.2rem;
}

.tip {
  position: relative;
  display: inline-block;
  padding: 0 0.5rem;
  opacity: 0.5;
  transition: all 0.2s ease;
}
.tip ~ section {
  visibility: hidden;
  z-index: 10;
  position: absolute;
  top: -0.8rem;
  right: 2rem;

  opacity: 0;
  padding: 0.5rem 2rem;
  font: normal 0.8rem Calibri;
  background-color: white;
  box-shadow: 5px 5px 0 rgba(60,50,50,0.5);
  transition: opacity 0.5s ease;
}

.tip > section {
  visibility: hidden;
  z-index: 10;
  position: absolute;
  top: 2rem;

  opacity: 0;
  padding: 0.5rem;
  font: normal 0.8rem Calibri;
  background-color: white;
  box-shadow: 5px 5px 0 rgba(60,50,50,0.5);
  transition: opacity 0.5s ease;
}

.tip:hover {
  opacity: 1;
}
.tip:hover ~ section, .tip:hover > section  {
  visibility: visible;
  opacity: 1;
}

.tip-card {
  position: relative;
  border-radius: 0.5rem;
  color: white;
  width: 3rem;
  height: 3rem;
  opacity: 1;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: center;
  float: left;
  margin: 0 0.5rem;
}