/* TODO Add site wide styles */


/* Development-mode-only helpers */

* {
    outline: 1px dotted lightblue;
}

dt {
    font-weight: bold;
}

dl {
    display: flex;
    flex-direction: column-reverse;
}

label {
    display: block;
}

.is-hidden {
    display: none;
}