/* TODO Add site wide styles */


/* Development-mode-only helpers */

body {
  margin: 2rem 0.5rem 10rem;
  color: rgb(70,60,70);
  font-family: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif
}
* {
  /* outline: 1px dotted lightblue; */
}
.active {
  background-color: #ffc8dd;
}
.card {
  margin: 0.5rem;
  border-radius: 0.2rem;
  box-shadow: 5px 2px 5px gray;
  padding: 0.2rem;
}
dt {
  font-weight: bold;
}
dd {
  margin: 0;
}
dl.cards {
  display: flex;
  flex-flow: row wrap;
  /* flex-direction: column-reverse; */
}
dl.cards > * {
  width: 12%;
  height: 5rem;
  overflow: hidden;
  margin: 0.5rem 0.2rem;
}




button {
  cursor: pointer;
  text-transform: uppercase;
  background-color: rgba(0,0,0,0);
}
button:active {
  outline: none;
}

.is-hidden {
  display: none;
}
form.is-popped {
  z-index: 100;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  background-color: white;
  padding: 1rem;
  box-shadow: 5px 5px 10px rgb(70,70,80);
}
div.is-popped {
  z-index: 80;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  pointer-events: all;
}
