/* MODULE bottom-footer */

.btm-wrap {
  padding-bottom: 12rem;
  color: white;
}

.btm {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10rem;
  background-color: rgba(70,60,70,0.5);
}

.btm-con {
  display: flex;
  justify-content: center;
  align-content: center;
}

.btm-title {
  color: white;
}
