/* from styleguidist.css */
/* For React components from beautiful-react-diagrams */
.bi.bi-diagram {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border: 0.07rem solid #dae1e7;
  border-radius: 0.25rem;
  box-shadow: 0 0.8rem 1rem -0.2rem rgba(0, 0, 0, 0.1), 0 0.25rem 0.5rem -0.02rem rgba(0, 0, 0, 0.05);
  min-height: 100%;
  background-color: #f8fafc;
  position: relative;
  overflow: hidden;
}

.bi.bi-diagram .bi.bi-diagram-node {
  box-sizing: content-box;
  position: absolute;
  z-index: 50;
  user-select: none;
}

.bi.bi-diagram .bi.bi-diagram-node .bi-port-wrapper {
  display: flex;
  /* stylelint-disable-next-line no-descending-specificity */
}

.bi.bi-diagram .bi.bi-diagram-node .bi-port-wrapper .bi-input-ports,
.bi.bi-diagram .bi.bi-diagram-node .bi-port-wrapper .bi-output-ports {
  flex: 1 1;
}

.bi.bi-diagram .bi.bi-diagram-node .bi-port-wrapper .bi-input-ports .bi-diagram-port,
.bi.bi-diagram .bi.bi-diagram-node .bi-port-wrapper .bi-output-ports .bi-diagram-port {
  transition: background-color 0.25s ease-in-out;
  background-color: rgba(0, 0, 0, 0.08);
  width: 1.25rem;
  height: 1.25rem;
  margin-bottom: 0.25rem;
}

.bi.bi-diagram .bi.bi-diagram-node .bi-port-wrapper .bi-input-ports .bi-diagram-port:hover,
.bi.bi-diagram .bi.bi-diagram-node .bi-port-wrapper .bi-output-ports .bi-diagram-port:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.bi.bi-diagram .bi.bi-diagram-node .bi-port-wrapper .bi-output-ports .bi-diagram-port {
  margin-left: auto;
}

.bi.bi-diagram .bi.bi-diagram-node.bi-diagram-node-default {
  transition: box-shadow 0.25s ease-in-out, border 0.3s ease-out;
  border: 0.07rem solid #8795a1;
  background-color: #dae1e7;
  color: #606f7b;
  border-radius: 0.25rem;
  box-shadow: 0 0.07rem 0.2rem 0 rgba(0, 0, 0, 0.1), 0 0.07rem 0.125rem 0 rgba(0, 0, 0, 0.06);
  padding: 0.5rem;
}

.bi.bi-diagram .bi.bi-diagram-node.bi-diagram-node-default:hover {
  box-shadow: 0 0.125rem 1rem -0.2rem rgba(0, 0, 0, 0.1), 0 0.25rem 0.3rem -125rem rgba(0, 0, 0, 0.05);
}

.bi.bi-diagram .bi.bi-diagram-node.bi-diagram-node-default .bi-port-wrapper {
  margin-left: -0.5rem;
  margin-right: -0.5rem;
}

.bi.bi-diagram .bi-link-canvas-layer {
  pointer-events: none;
  width: 100%;
  height: 100%;
  z-index: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.bi.bi-diagram .bi-link-canvas-layer .bi-diagram-segment path {
  stroke: #dae1e7;
  stroke-width: 0.25rem;
  stroke-dasharray: 10, 2;
  fill: transparent;
  animation: BiDashSegmentAnimation 1s linear infinite;
}

.bi.bi-diagram .bi-link-canvas-layer .bi-diagram-segment circle {
  stroke: #dae1e7;
  stroke-width: 0.15rem;
  fill: #88cdff;
}

.bi.bi-diagram .bi-link-canvas-layer .bi-diagram-link {
  pointer-events: stroke;
  /* stylelint-disable-next-line */
}

.bi.bi-diagram .bi-link-canvas-layer .bi-diagram-link .bi-link-path {
  stroke: #dae1e7;
  stroke-width: 0.25rem;
  pointer-events: stroke;
  fill: transparent;
  cursor: pointer;
  user-select: none;
}

.bi.bi-diagram .bi-link-canvas-layer .bi-diagram-link .bi-link-ghost {
  pointer-events: stroke;
  stroke: transparent;
  stroke-width: 1.2rem;
  fill: transparent;
  cursor: pointer;
}

.bi.bi-diagram .bi-link-canvas-layer .bi-diagram-link:hover .bi-link-path {
  stroke: #88cdff;
  stroke-dasharray: 10, 2;
  animation: BiDashSegmentAnimation 1s linear infinite;
}

.bi.bi-diagram .bi-link-canvas-layer .bi-diagram-link.readonly-link .bi-link-ghost {
  cursor: not-allowed;
}

.bi.bi-diagram .bi-link-canvas-layer .bi-diagram-link.readonly-link .bi-link-path {
  cursor: not-allowed;
  stroke: #b8c2cc;
  stroke-dasharray: none;
}

.bi.bi-diagram .bi-link-canvas-layer .bi-diagram-link.readonly-link:hover {
  stroke: #b8c2cc;
  stroke-dasharray: none;
  animation: none;
}

.bi.bi-diagram .bi-link-canvas-layer .bi-diagram-link foreignObject {
  width: 100%;
  height: 100%;
  overflow: visible;
  pointer-events: none;
}

.bi.bi-diagram .bi-link-canvas-layer .bi-diagram-link .bi-diagram-link-label {
  display: inline-block;
  color: #fff;
  background-color: #3d4852;
  border-radius: 0.25rem;
  padding: 0.25rem;
  text-align: center;
  font-size: 0.875rem;
  user-select: none;
  min-width: 3rem;
  transform: translate(-50%, -50%);
}

@keyframes BiDashSegmentAnimation {
  from {
    stroke-dashoffset: 24;
  }
  to {
    stroke-dashoffset: 0;
  }
}

/* MODULE top-header */
.top-title {
  margin: 0.5rem 0 0;
  color: #463c46;
  text-align: center;
  letter-spacing: 1rem;
  font: 3rem "Modern Antiqua", "Smythe", "Girassol", "Tulpen One", "Diplomata", "Croissant One", "Milonga", "Quintessential", "Bellota Text", "Oregano";
  transition: all 0.1s ease-in-out;
}

.top-title:hover {
  color: black;
}

.top-title:active {
  color: gray;
}

.top-con {
  z-index: 1;
  position: absolute;
  width: 100%;
  background-color: rgba(230, 200, 200, 0.3);
}

.top-con > ul {
  display: flex;
  flex-flow: row-reverse;
  justify-content: center;
  margin: 0;
  padding: 0.5rem;
  background-color: rgba(50, 40, 50, 0.1);
}

.top-con > ul > a {
  position: relative;
  left: 0;
  bottom: 0;
  margin: 0 0.2rem;
  /* border-radius: 0.5rem 1rem 0 0; */
  transform: skewX(-20deg);
  border-width: 5px;
  padding: 0.1rem 1rem;
  background-color: ivory;
  opacity: 0.6;
  border-radius: 0.5rem 0;
  font: 0.8rem "Croissant One";
  /* font-weight: bold; */
  /* text-transform: uppercase; */
  transition: all 0.1s ease-in;
}

.top-con > ul > a:hover {
  border-radius: 0.5rem;
  opacity: 1;
}

.top-con > ul > .active {
  box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.2);
  opacity: 1;
  font-weight: bold;
}

.top-icon {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0.5rem;
  font-size: 1rem;
  color: white;
  text-align: center;
}

/* MODULE bottom-footer */
.btm-wrap {
  padding-bottom: 12rem;
  color: white;
}

.btm {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10rem;
  background-color: rgba(70, 60, 70, 0.5);
}

.btm-con {
  display: flex;
  justify-content: center;
  align-content: center;
}

.btm-title {
  color: white;
}

.ico-btn {
  position: relative;
  color: #969696;
  border: 4px solid #969696;
  border-radius: 50%;
}

.ico-btn > i {
  position: absolute;
}

/* MODULE radio-box-circles */
.rbc {
  display: grid;
  grid-template-columns: repeat(auto-fill, 1.5rem);
  grid-auto-columns: 1.5rem;
  grid-auto-rows: 1.5rem;
  grid-gap: 0.2rem;
  justify-content: center;
  align-content: center;
}

/* radio-box-circle container (label) */
.rbc-con {
  display: block;
  position: relative;
  cursor: pointer;
}

/* Hide default radio input-box */
.rbc-input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* radio-box-circle (span), create custom radio-box */
.rbc-box {
  position: absolute;
  height: 1.5rem;
  width: 1.5rem;
  transition: all 0.2s ease;
}

/* Styling for rbc-color variant */
.rbc-color {
  border: 4px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}

/* ON HOVER/CHECK: remove border */
.rbc-color:hover, .rbc-input:checked ~ .rbc-box {
  border: 0 solid rgba(56, 53, 53, 0);
}

.rbc-image {
  font-size: 1.2rem;
  border-radius: 15%;
}

/* Styling for foreground-checkmark-indicator variant */
/* Create hidden check-icon */
.rbc-checkmark {
  position: absolute;
  opacity: 0;
  font-size: 0.8rem;
}

/* ON CHECK: Show checkmark-icon */
.rbc-input:checked ~ .rbc-box > .rbc-checkmark {
  opacity: 1;
  transition: all 0.3s ease;
}

/* Styling for background-checkmark-indicator variant */
/* ON HOVER/CHECK: fill background with white screen */
.rbc-image:hover, .rbc-input:checked ~ .rbc-image {
  /* background-color: rgba(0,0,0,0.5); */
  background-color: rgba(255, 255, 255, 0.1);
}

/* MODULE creation-form-wrapper */
.cfw-con {
  display: block;
}

.cfw-line {
  width: max-content;
}

.cfw-body {
  width: max-content;
}

.pop {
  z-index: 100;
  position: fixed;
  width: 80%;
  background-color: white;
  padding: 1rem;
  box-shadow: 5px 5px 10px rgba(70, 70, 80, 0.5);
}

.opt {
  display: flex;
}

/* MODULE error messages */
.err {
  /* border: 4px double white; */
  z-index: -1;
  top: 4px;
  width: 100%;
  border-top: 4px double white;
  border-bottom: 4px double white;
  padding: 0rem;
  color: white;
  background-color: rgba(255, 0, 0, 0.4);
  font-family: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
  font-variant: small-caps;
  text-align: center;
}

.err > ul {
  margin: 0.2rem 1rem;
}

.txt > .ql-toolbar.ql-snow {
  border-radius: 0.3rem 0.3rem 0 0;
  border-bottom-width: 0;
  background-color: whitesmoke;
}

.txt > .ql-container.ql-snow {
  height: 10rem;
  margin-bottom: 1rem;
  border-radius: 0 0 0.3rem 0.3rem;
  background-color: white;
}

.tag {
  display: inline-flex;
  margin: 0;
}

.tag > li {
  border-radius: 1rem;
  margin: 0.2rem;
  padding: 0.1rem 1rem 0.2rem;
  background-color: rgba(250, 240, 230, 0.5);
}

/* gallery cards */
.spot {
  width: 50vw;
  height: 15rem;
}

.gal {
  display: grid;
  grid-template-columns: repeat(auto-fill, 30%);
  grid-gap: 1rem;
}

.gal-card {
  max-height: 10rem;
  overflow: hidden;
}

.dis > div {
  display: flex;
}

.fil-con {
  padding: 8px;
  width: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
  margin: 0 auto;
}

.fil {
  position: relative;
  width: 100%;
  height: 100%;
}

.fil button {
  margin-bottom: 15px;
}

.fil button {
  padding: 8px 17px;
  border: 0;
  color: #fff;
  background: #265265;
  cursor: pointer;
}

.fil button:hover {
  background: #1e3d4b;
}

.thumbnail {
  width: 100%;
  height: 12rem;
  object-fit: cover;
  margin: 0.5rem 0;
}

.thumbnail-caption {
  font-size: 14px;
  color: #2b8fba;
  margin-bottom: 5px;
  padding: 0 12px;
}

.success-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.success-container h2 {
  color: green;
  text-align: center;
}

@media screen and (max-width: 472px) {
  .fil-con {
    padding: 6px;
  }
  .thumbnail-wrapper {
    padding: 6px 2px;
  }
  .thumbnail {
    flex-basis: 40px;
    width: 100%;
    height: 100%;
    max-height: 40px;
  }
  .thumbnail-caption {
    font-size: 12px;
  }
}

.card {
  position: relative;
  margin: 0.5rem;
  width: 70%;
  margin: 0.5rem auto;
  min-height: 2rem;
  border-radius: 1rem;
  padding: 0rem;
  background-color: ivory;
  box-shadow: 5px 5px 6px lightgray;
  transition: all 0.1s ease-out;
  cursor: pointer;
}

.card:hover > .card-pic {
  font-size: 1.5rem;
}

.card-pic {
  position: absolute;
  font-size: 1.2rem;
  width: 2rem;
  height: 2rem;
  float: left;
  /* margin: 0.5rem 1rem; */
  border-radius: 0.5rem 0 0 0.5rem;
  /* border-right-width: 6px; */
  /* border-right-style: double; */
  color: white;
  /* transform: rotate(-10deg); */
  transition: all 0.1s ease-out;
}

.card-pic > i {
  position: absolute;
}

.card.active {
  box-shadow: 5px 5px 5px darkgray;
}

.yrc-con {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  align-content: center;
  align-items: baseline;
  width: 88%;
  margin-left: 3.5rem;
}

.chron-head {
  z-index: 1;
  position: relative;
  width: 100;
  margin: 0 auto;
  padding: 0.5rem 0;
  color: white;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
}

/* @import "modules"; */
.hdr {
  padding: 4rem 6rem 2rem;
  height: 15rem;
  overflow: hidden;
}

.hdr > div > h1 {
  font-size: 2.5rem;
}
/*# sourceMappingURL=modules.css.map */